<app-header></app-header>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<!-- login.component.html -->
<div class="login">
    <div class="container">
      <h1>Login Form</h1>
      <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value, loginForm)" class="form" novalidate>
        <table>
          <tr>
            <td>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="text" class="form-control" placeholder="Enter email" name="emailId" ngModel #emailId="ngModel" required
                  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
              </div>
              <h6 *ngIf="emailId.invalid && (emailId.dirty || emailId.touched || loginForm.submitted)" class="error"
                style="color: red;">
                <h6 *ngIf="emailId.hasError('required')">Email is required.</h6>
                <h6 *ngIf="emailId.hasError('pattern')">Enter a valid email.</h6>
              </h6>
              <br />
            </td>
          </tr>
          <tr>
            <td>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Enter password"
                  name="password" ngModel #password="ngModel" required />
                <span (click)="togglePasswordVisibility()">
                </span>
              </div>
              <h6 *ngIf="password.invalid && (password.dirty || password.touched || loginForm.submitted)" class="error"
                style="color: red;">
                <h6 *ngIf="password.hasError('required')">Password is required.</h6>
              </h6>
              <br />
            </td>
          </tr>
          <!-- <tr>
            <td>
              <form [formGroup]="aFormGroup">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
              </form>
            </td>
          </tr> -->
          <tr>
            <td>
              <button type="button" (click)="loginSubmit(loginForm.value, loginForm)">
                <h5>Login</h5>
              </button>
              New User ?<a routerLink="/register">Register</a>
            </td>
          </tr>
        </table>
      </form>
      <!-- <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter EmailId</div>
      <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
      <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter Atleast 2 Characters</div>
      <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 2 Characters</div> -->
    </div>
  </div>