.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 10%;
}

.booking-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px;
  padding: 20px;
}

.package-info {
  margin-bottom: 20px;
}

.package-info h3 {
  margin-top: 0;
}

.package-info p {
  margin: 5px 0;
}

.package-info img {
  max-width: 200px;
  height: auto;
}

.no-booking-message {
  margin-bottom: 20px;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input[type="date"],
.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  margin-top: 5px;
  color: red;
}

.payment-details {
  margin-top: 20px;
  border-top: 1px solid #ccc; /* Add border to the top */
  padding-top: 20px; /* Add padding for spacing */
}

.payment-details h2 {
  margin-top: 0; /* Adjust margin */
}
