<!-- <app-header></app-header> -->
<div class="video-container">
    <video autoplay loop muted>
      <source src="assets\Video\Homebackground.mp4" type="video/mp4">
      <!-- Add additional source elements for other video formats (webm, ogg, etc.) -->
    </video>
  </div>
  
  <div class="content">
    <!-- Your homepage content goes here -->
    <h1>Welcome to Our  **EXPLORE ERA** Tourism website</h1>
    <p>This is a sample homepage with a background video.</p>
  </div>
  <app-footer></app-footer>
