
<div class="body1">
<div class="body">
	<h1>Register</h1>
	<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)" class="form">
		<div class="column1">
			<div class="input-box">
				<label>User Name</label>
				<input type="text" class="form-control" placeholder="Enter Username" name="username" ngModel required />
			</div>
		</div>
		<div>
		<h6 *ngIf="regForm.controls['username'].invalid && regForm.controls['username'].touched"
        class="error" style="color: red;">Username is required.</h6>
	    </div>

		<div class="column1">
			<div class="input-box">
				<label>Gender</label>
				<br>
				<select name="gender" class="form-control" ngModel required>
					<option value="" disabled selected>Select Gender</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Others">Others</option>
				  </select>
			</div>
		</div>
		<div>
		<h6 *ngIf="regForm.controls['gender'].invalid && regForm.controls['gender'].touched"
        class="error" style="color: red;">Gender is required.</h6>
	    </div>

		<div class="column1">
			<div class="input-box">
				<label>Country</label>
				<select name="country" [(ngModel)]="selectedCountry" (ngModelChange)="onCountrySelect()" ngmodel required>
					<option value="" selected>Select Country</option>
					<option value="{{country.country_name}}" *ngFor="let country of countries">{{country.country_name}}
					</option>
				</select>
			</div>
		</div>
        <div>
			<h6 *ngIf="regForm.controls['country'].invalid && regForm.controls['country'].touched"
                 class="error" style="color: red;">Country is required.</h6>
	    </div>
		<div class="column1">
			<div class="input-box">
				<label>State</label>
				<select name="state" [(ngModel)]="selectedState" (ngModelChange)="onStateSelect()" ngmodel required>
					<option value="" selected>Select state</option>
					<option value="{{state.state_name}}" *ngFor="let state of states">{{state.state_name}}</option>
				</select>
			</div>
			<div>
			<h6 *ngIf="regForm.controls['state'].invalid && regForm.controls['state'].touched"
                 class="error" style="color: red;">State is required.</h6>
			</div>
			<div class="input-box">
				<label>City</label>
				<select name="city" ngModel #city="ngModel">
					<option value="" selected>Select city</option>
					<option value="{{city.city_name}}" *ngFor="let city of cities">{{city.city_name}}</option>
				</select>
			</div>
		</div>
		<div class="column1">
			<div class="input-box">
				<label>Email-Id</label>
				<input type="text" name="emailId" ngModel #emailId="ngModel" required type="email" minlength="8"
					pattern="[a-zA-Z0-9.%_'=&+,-><]+@[a-zA-Z0-9.-]+.[com]$" />
			</div>
		</div>
		<div class="column1">
			<div class="input-box">
				<label>Mobile Number</label>
				<input type="text" class="form-control" placeholder="Enter MobileNo" name="mobileNumber" ngModel
          #mobileNumber="ngModel" required pattern="^\+91 \d{5} \d{5}$" maxlength="16" />
			</div>
		</div>
		<div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="error"
        style="color: red;">
        <h6 *ngIf="mobileNumber.hasError('required')">Mobile Number is required.</h6>
        <h6 *ngIf="mobileNumber.hasError('pattern')">Enter a valid number starting with +91 </h6>
        <h6 *ngIf="mobileNumber.hasError('maxlength')">Mobile Number should not exceed 15 characters.</h6>
    </div>
		<div class="column1">
			<div class="input-box">
				<label>Password</label>
				<input type="password" name="password" ngModel #password="ngModel" required minlength="8" maxlength="20"
					pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*()-_+=])[A-Za-z0-9!@#$%^&*()-_+=]{8,}$" />
			</div>
		</div>
		<div class="column1">
			<div class="input-box">
				<label> ConfirmPassword</label>
				<input type="password" name="password" ngModel #confirmPassword="ngModel" required minlength="8"
					maxlength="20" pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*()-_+=])[A-Za-z0-9!@#$%^&*()-_+=]{8,}$"
					(ngModelChange)="validateConfirmPassword()" />
			</div>
		</div>
		<button type="submit" [disabled]="regForm.invalid">Register</button>

<div>
	
	<div>
		<div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter EmailId</div>
		<div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
		<div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter correct EmailId
		</div>
		<div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 8
			Characters</div>
		<div *ngIf="emailId.errors?.['pattern'] && emailId.touched" style="color: red;">Enter Correct Email Id</div>
		<div *ngIf="password.errors?.['pattern'] && password.touched" style="color: red;">Your Password must contain
			atleast one Capital letter and a Special Character</div>
		<div *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched && confirmPasswordDirty"
			style="color: red;">Please Confirm Password</div>
		<div *ngIf="confirmPassword.errors?.['minlength'] && confirmPassword.touched && confirmPasswordDirty"
			style="color: red;">Please Enter At Least 8 Characters for Confirm Password</div>
		<div *ngIf="confirmPassword.errors?.['maxlength'] && confirmPassword.touched && confirmPasswordDirty"
			style="color: red;">Please Enter No More Than 20 Characters for Confirm Password</div>
		<div *ngIf="confirmPassword.errors?.['pattern'] && confirmPassword.touched && confirmPasswordDirty"
			style="color: red;">Your Confirm Password must contain at least one Capital letter and a Special Character
		</div>
		<div *ngIf="confirmPasswordMatch === false && confirmPasswordDirty" style="color: red;">Passwords do not match
		</div>
	</div>

</div>


