header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url("../../assets/Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.input-container {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px;  */
    /* Add margin between input containers */
    /* transition: height 0.3s; Add transition for smooth height change */
}

.input-box {
    position: relative;
    /* margin-bottom: 5px; Add margin between input and error message */
}

.error {
    overflow: hidden; /* Hide overflow content if error message is too large */
    /* transition: height 0.3s; Add transition for smooth height change */
}

.body1 {
    height: 100vh;
    width: 100%;
    /* background-image: url('https://cdn.pixabay.com/photo/2017/09/04/16/58/passport-2714675_1280.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 110px; */
}

.body {
    position: relative;
    max-width: 600px;
    height: auto;
    width: 90%;
    background: transparent;
    backdrop-filter: blur(25px);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.body h5 {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    text-align: center;
}

.body .form {
    margin-top: 15px;
}

.form .input-box {
    width: 100%;
    margin-top: 10px;
}

.input-box label {
    color: white;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: 93%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 6px;
    padding: 0 15px;
    background: #fcedda;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column1 {
    display: flex;
    width: 96%;
    column-gap: 25px;
}

.form .column {
    display: flex;
    width: 100%;
    column-gap: 25px;
}

.address :where(input, .select-box) {
    margin-top: 10px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: #fcedda;
}

.form button {
    height: 40px;
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #ee4e34;
}

.form button:hover {
    background: #ee3e34;
}

select {
    border: 1px solid black;
    border-radius: 6px;
    height: 35px;
    width: 93%;
    background-color: #fcedda;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data input:focus~label,
.input-data input:valid~label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
