<app-header2></app-header2>
<div class="container">
    <div *ngIf="bookingDetails && bookingDetails.paymentCompleted" class="booking-details">
      <h2>Booking Confirmation</h2>
      <table>
        <tr>
          <td><b>Name:</b></td>
          <td>{{ bookingDetails.selectedTour.name }}</td>
        </tr>
        <tr>
          <td><b>Price:</b></td>
          <td>{{ bookingDetails.selectedTour.price }}</td>
        </tr>
        <tr>
          <td><b>Date:</b></td>
          <td>{{ bookingDetails.bookingDate }}</td>
        </tr>
        <tr>
          <td><b>Total:</b></td>
          <td>{{ bookingDetails.total }}</td>
        </tr>
        <tr>
          <td><b>Tax:</b></td>
          <td>{{ bookingDetails.tax }}</td>
        </tr>
        <tr>
          <td><b>Total (inclusive of tax):</b></td>
          <td>{{ bookingDetails.totalInclusive }}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="!bookingDetails || !bookingDetails.paymentCompleted" class="no-booking-message">
      <h2>No booking details found.</h2>
    </div>
  </div>